<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
 
  <style>
  * {
    box-sizing: border-box;
  }

	<title>Where Literature Meets Computing About Page</title>	

	<style type="text/css">    

  table, th, td {
  border: 2px solid black;
  border-collapse: collapse;
  }
  table.center {
    margin-left: auto; 
    margin-right: auto;
    font-size: 2vw;
  }  

  body
  {
    text-align: center;
    font-family: sans-serif;
    font-size: 10vw;
  }


  /* Style the footer */
  .footer {
    background-color: #f1f1f1;
    padding:2vw;
    text-align: right;
    font-size: 4vw;
  }

  h1
  {
    font-size:10vw;
    color:rgb(20, 3, 104);
  }

  h2
  {
    font-size:8vw;
    font-style: italic;
    color:rgb(31, 4, 161);
  }

  </style>

</head>  
  
<body>
  <div class="topnav">
    <a href="/"><img src="static/home.png" alt="Home" style="width:4vw;height:auto;"></a>
    <a href="/liveathousandlives">Live 1000 Lives<img src="static/books.png" style="width:3vw;height:auto;"></a>
    <a href="/quoteoftheday">Quote</a>
    <a href="/genwordoftheday">Word</a>
    <a href="/whatloveis">Love<img src="static/heart.png" style="width:3vw;height:auto;"></a>
    <a href="/about">About</a>
  </div>


  <div id="main-div" class="content2">
    <p style="color: navy;"><b>Welcome to my personal website ─ Where Literature Meets Computing!</b>
    </p>
    <p style="color: blue;">
    Let me begin with two of my favorite quotes:
    <br><br>
    "A reader lives a thousand lives before he dies. The man who never reads lives only one."—George R.R. Martin
    <br><br>
    "A truly good book teaches me better than to read it. I must soon lay it down, and commence living on its hint. What I began by reading, I must finish by acting."—Henry David Thoreau
    <br><br>
    I started my reading journey in 2017. It is never too late😀️. I have read so far about 200 books since, on a pace of 1~2 books per week. I started with nonfictions only (business, productivity, self-help, etc.) and soon I fell in love with fictions (historical, fantasy, science, etc.).  In truth, I am reading books of all genres and savor each one I read.  
    <br><br>
    I have learned and grown tremendously from reading, which has helped both my personal life and professional career. As a believer, beneficiary,and testament of reading, I want to share my experience with you here, and hopefully, I can help pick your next book📚️.
    <br><br>
    By training I am an engineer and a technology manager for one of the largest companies in the world. Here I am leveraging my IT skills to promote literature and reading.  
  </p>
    <p style="color: navy;">
    On this website, I carefully curated photos, quotes, smart words, love quotes, and books for you to enjoy!
    <br><br>If you like it, <a href="/#sub">subscribe</a> to receive the same content in a daily literature newsletter in your inbox!
    </p>
    </div>
  
    <div class="content">
      <p style="color:black;">Drop a comment below</p>
        <form action="/postcomment" method="post" enctype="multipart/form-data">
          <textarea class="inputtextarea" rows = "4" name = "CommentText">...
        </textarea><br>
          <label for="aname">Your name</label>
          <input class="inputtext" type="text" name="CommentAuthor" value="...">
          <input type="submit" value="Send">
        </form> 
    </div>
  
    <div class="botnav">
      <a href="/about"><img src="static/information.png" alt="About" style="width:4vw;height:auto;"></a>
      <a href="/#sub"><img src="static/subscribe.png" alt="Subscribe" style="width:4vw;height:auto;"></a>
      <a href="mailto:whereliteraturemeetscomputing@gmail.com"><img src="static/email.png" alt="Email" style="width:4vw;height:auto;"></a>
      <a href="https://twitter.com/tothemax2050"><img src="static/twitter.png" alt="Twitter" style="width:4vw;height:auto;"></a>
      <a href="https://www.facebook.com/wordsmartword"><img src="static/facebook.png" alt="Facebook" style="width:4vw;height:auto;"></a>
      <a href="https://www.instagram.com/tothemax2050"><img src="static/instagram.png" alt="Instagram" style="width:4vw;height:auto;"></a>
      <a href="https://www.goodreads.com/user/show/65134593-max"><img src="static/goodreads.png" alt="Goodreads" style="width:4vw;height:auto;"></a>
      <b style="color: white;font-family: Arial"><i>Where Literature Meets Computing!</i></b>
    </div>
</body>
</html>
