<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-V1LBCV9F1C"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-V1LBCV9F1C');
  </script>
 
  <style>
  * {
    box-sizing: border-box;
  }

	<title>Reading is a Lifestyle</title>	

	<style type="text/css">    

  table, th, td {
  border: 2px solid black;
  border-collapse: collapse;
  }
  table.center {
    margin-left: auto; 
    margin-right: auto;
    font-size: 2vw;
  }  

  body
  {
    text-align: center;
    font-family: sans-serif;
    font-size: 10vw;
  }


  /* Style the footer */
  .footer {
    background-color: #f1f1f1;
    padding:2vw;
    text-align: right;
    font-size: 4vw;
  }

  h1
  {
    font-size:10vw;
    color:rgb(20, 3, 104);
  }

  h2
  {
    font-size:8vw;
    font-style: italic;
    color:rgb(31, 4, 161);
  }

  </style>

  <script src="{{ url_for('static', filename='utils.js') }}"></script>

</head>  
  
<body>
  <div class="topnav">
    <a href="/"><img src="static/home.png" alt="Home" style="width:4vw;height:auto;"></a>
    <a href="/liveathousandlives">Book<img src="static/books.png" style="width:3vw;height:auto;"></a>
    <a href="/tothemax2050">tothemax2050<img src="static/books.png" style="width:3vw;height:auto;"></a>
    <a href="/quoteoftheday">Quote</a>
    <a href="/genwordoftheday">Word</a>
    <a href="/photo">Photo</a>
    <a href="/about" style="float:right">About</a>
  </div>


  <div id="main-div" class="content2">
    <p style="color: navy;"><b>Reading is a Lifestyle!</b>
    </p>
    <p style="color: blue;">
    Let me begin with my favorite book quotes:
    <br><br>
    <span id="book-quote">
    "A reader lives a thousand lives before he dies. The man who never reads lives only one."—George R.R. Martin
    </span>
    <br>
    <button onclick="newquote('book-quote', 'Reading')">Next Book Quote</button>
    <button onclick="quote_to_speech('book-quote')">Speak</button>
    <br><br>
    I started my reading journey in 2017. It is never too late😀️. I have read so far about {{book_count}} books since, on a pace of 1~2 books per week. I started with nonfictions only (business, productivity, self-help, etc.) and soon I fell in love with fictions (historical, fantasy, science, etc.).  In truth, I am reading books of all genres and savor each one I read.  
    <br><br>
    I have learned and grown tremendously from reading, which has helped both my personal life and professional career. As a believer, beneficiary,and testament of reading, I want to share my experience with you here, and hopefully, I can help pick your next book📚️.
    <br><br>
    By training I am an engineer and a technology manager for one of the largest companies in the world. Here I am leveraging my IT skills to promote literature and reading.  
    <br><br>
    On this website, I carefully curated photos, quotes, smart words, and good books for you to enjoy!
<!--
    <br><br>If you like it, <a href="/#sub">subscribe</a> to receive the same content in a daily literature newsletter in your inbox!
-->    
    </p>
    </div>  
    <div class="content">
      <p style="color:black;">Drop a comment below</p>
        <form action="/postcomment" method="post" enctype="multipart/form-data">
          <textarea class="inputtextarea" rows = "4" name = "CommentText">...
        </textarea><br>
          <label for="aname">Your name</label>
          <input class="inputtext" type="text" name="CommentAuthor" value="..."><br>
          <label for="aemail">Your email</label>
          <input class="inputtext" type="text" name="CommentEmail" value="..."><br>
          <input type="submit" value="Send">
        </form> 
    </div>
    <div class="content2">
      <p style="color:black;"><a href="https://www.paypal.com/donate/?hosted_button_id=UADH5B3CZUVZL">Make reading a lifestyle for everyone!<br>
        Donate to support!!&nbsp;&nbsp;<img src="static/paypal.png" alt="PayPal Donate" style="width:auto;height:6vw;"></a></p>
    </div>

    <div class="botnav">
      <a href="/about"><img src="static/information.png" alt="About" style="width:4vw;height:auto;"></a>
      <a href="https://twitter.com/tothemax2050"><img src="static/twitter.png" alt="Twitter" style="width:4vw;height:auto;"></a>
      <a href="https://www.threads.net/@tothemax2050"><img src="static/threads.png" alt="Threads" style="width:4vw;height:auto;"></a>
      <a href="/" style="float:left"><img src="static/books.png" alt="Books" style="width:4vw;height:auto;"></a>      </div>
    </body>
</html>
