<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
 
  <style>

	<style type="text/css">    

  body
  {
    text-align: center;
    font-family: sans-serif;
    font-size: 10vw;
  }
  
  </style>
</head>  
  
<body>  
  <div class="topnav">
    <a href="/"><img src="static/home.png" alt="Home" style="width:4vw;height:auto;"></a>
    <a href="/liveathousandlives">Live 1000 Lives<img src="static/books.png" style="width:3vw;height:auto;"></a>
    <a href="/pictureoftheday">Photo</a>
    <a href="/quoteoftheday">Quote</a>
    <a href="/genwordoftheday">Word</a>
    <a href="/whatloveis">Love<img src="static/heart.png" style="width:3vw;height:auto;"></a>
  </div>

  <div id="main-div" class="content2">
  <p style="color: blue;">Welcome to my personal website ─
  <br><br>&nbsp&nbsp&nbsp&nbspWhere Literature Meets Computing!
  <br><br>Enjoy daily photo, daily quote, daily smart word, daily love quote, and daily book!
  <br><br><a href="/#sub">Subscribe</a> to receive your daily Literature newsletter in your inbox!
  </p>
  </div>

  <div class="content">
    <p style="color: blue;">Drop a comment below</p>
      <form action="/postcomment" method="post" enctype="multipart/form-data">
        <textarea class="inputtextarea" rows = "4" name = "CommentText">...
      </textarea><br>
        <label for="aname">Your name</label>
        <input class="inputtext" type="text" name="CommentAuthor" value="...">
        <input type="submit" value="Send">
      </form> 
  </div>
  
  <div class="botnav">
    <a href="/about"><img src="static/information.png" alt="About" style="width:4vw;height:auto;"></a>
    <a href="/#sub"><img src="static/subscribe.png" alt="Subscribe" style="width:4vw;height:auto;"></a>
    <a href="mailto:whereliteraturemeetscomputing@gmail.com"><img src="static/email.png" alt="Email" style="width:4vw;height:auto;"></a>
    <a href="https://twitter.com/tothemax2050"><img src="static/twitter.png" alt="Twitter" style="width:4vw;height:auto;"></a>
    <a href="https://www.facebook.com/wordsmartword"><img src="static/facebook.png" alt="Facebook" style="width:4vw;height:auto;"></a>
    <a href="https://www.instagram.com/tothemax2050"><img src="static/instagram.png" alt="Instagram" style="width:4vw;height:auto;"></a>
  </div>
</body>
</html>