<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
 
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-V1LBCV9F1C"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-V1LBCV9F1C');
  </script>

  <style>
  * {
    box-sizing: border-box;
  }

	<title>Where Literature Meets Computing App Page</title>	

	<style type="text/css">    

  table, th, td {
  border: 2px solid black;
  border-collapse: collapse;
  }
  table.center {
    margin-left: auto; 
    margin-right: auto;
    font-size: 2vw;
  }  

  body
  {
    text-align: center;
    font-family: sans-serif;
    font-size: 10vw;
  }


  /* Style the footer */
  .footer {
    background-color: #f1f1f1;
    padding:2vw;
    text-align: right;
    font-size: 4vw;
  }

  h1
  {
    font-size:10vw;
    color:rgb(20, 3, 104);
  }

  h2
  {
    font-size:8vw;
    font-style: italic;
    color:rgb(31, 4, 161);
  }

  </style>

</head>  
  
<body>
  <div class="topnav">
    <a href="/"><img src="static/home.png" alt="Home" style="width:4vw;height:auto;"></a>
    <a href="/liveathousandlives">Books<img src="static/books.png" style="width:3vw;height:auto;"></a>
    <a href="/tothemax2050">tothemax2050<img src="static/books.png" style="width:3vw;height:auto;"></a>
    <a href="/quoteoftheday">Quote</a>
    <a href="/genwordoftheday">Word</a>
    <a href="/photo">Photo</a>
    <a href="/apps">App</a>
    <a href="/about" style="float:right">About</a>
  </div>

  <div id="main-div" class="content">
    <p>Deep Quotes<br>
    <a href="https://apps.apple.com/us/app/quote-that-makes-you-think/id1601858676?itscg=30200&amp;itsct=apps_box_appicon" style="width: 170px; height: auto; border-radius: 22%; overflow: hidden; display: inline-block; vertical-align: middle;"><img src="static/Q-1024.png" alt="Quotes That Make You Think" style="width: 170px; height: auto; border-radius: 22%; overflow: hidden; display: inline-block; vertical-align: middle;"></a>
    <a href="https://apps.apple.com/us/app/quote-that-makes-you-think/id1601858676?itsct=apps_box_badge&amp;itscg=30200" style="display: inline-block; overflow: hidden; border-radius: 13px; width: 250px; height: 83px;"><img src="https://tools.applemediaservices.com/api/badges/download-on-the-app-store/black/en-us?size=250x83&amp;releaseDate=1640304000&h=7e8df97aae0dfaeb10abf2ec28a0e11c" alt="Download on the App Store" style="border-radius: 13px; width: 250px; height: 83px;"></a>
    </p>
  </div>

  <div id="main-div" class="content2">
    <p>Digital Book Companion<br>
    <a href="https://apps.apple.com/us/app/digital-book-companion/id1608812088?itscg=30200&amp;itsct=apps_box_appicon" style="width: 170px; height: 170px; border-radius: 22%; overflow: hidden; display: inline-block; vertical-align: middle;"><img src="static/B-1024.png" alt="Digital Book Companion" style="width: 170px; height: 170px; border-radius: 22%; overflow: hidden; display: inline-block; vertical-align: middle;"></a>
    <a href="https://apps.apple.com/us/app/digital-book-companion/id1608812088?itsct=apps_box_badge&amp;itscg=30200" style="display: inline-block; overflow: hidden; border-radius: 13px; width: 250px; height: 83px;"><img src="https://tools.applemediaservices.com/api/badges/download-on-the-app-store/black/en-us?size=250x83&amp;releaseDate=1644105600&h=398cd54fb94e4e5c3a88426cf4c70d39" alt="Download on the App Store" style="border-radius: 13px; width: 250px; height: 83px;"></a>
    </p>
  </div>

  <div id="main-div" class="content">
    <p>Word Smart Catcher<br>
    <a href="https://apps.apple.com/us/app/word-smart-catcher/id1609887261?itscg=30200&amp;itsct=apps_box_appicon" style="width: 170px; height: 170px; border-radius: 22%; overflow: hidden; display: inline-block; vertical-align: middle;"><img src="static/W-1024.png" alt="Word Smart Catcher" style="width: 170px; height: 170px; border-radius: 22%; overflow: hidden; display: inline-block; vertical-align: middle;"></a>
    <a href="https://apps.apple.com/us/app/word-smart-catcher/id1609887261?itsct=apps_box_badge&amp;itscg=30200" style="display: inline-block; overflow: hidden; border-radius: 13px; width: 250px; height: 83px;"><img src="https://tools.applemediaservices.com/api/badges/download-on-the-app-store/black/en-us?size=250x83&amp;releaseDate=1644796800&h=f7ade19d02e3725b9ccc265d1ae8e5c7" alt="Download on the App Store" style="border-radius: 13px; width: 250px; height: 83px;"></a>
    </p>
  </div>

  <div class="botnav">
    <a href="/about"><img src="static/information.png" alt="About" style="width:4vw;height:auto;"></a>
    <a href="/#sub"><img src="static/subscribe.png" alt="Subscribe" style="width:4vw;height:auto;"></a>
    <a href="mailto:whereliteraturemeetscomputing@gmail.com"><img src="static/email.png" alt="Email" style="width:4vw;height:auto;"></a>
    <a href="https://twitter.com/tothemax2050"><img src="static/twitter.png" alt="Twitter" style="width:4vw;height:auto;"></a>
    <a href="https://www.facebook.com/wordsmartword"><img src="static/facebook.png" alt="Facebook" style="width:4vw;height:auto;"></a>
    <a href="https://www.instagram.com/tothemax2050"><img src="static/instagram.png" alt="Instagram" style="width:4vw;height:auto;"></a>
    <a href="https://www.goodreads.com/user/show/65134593-max"><img src="static/goodreads.png" alt="Goodreads" style="width:4vw;height:auto;"></a>
    <a href="/" style="float:left"><img src="static/WLMC.png" alt="WLMC" style="width:auto;height:4vw;border-radius:10px"></a>
  </div>
</body>
</html>
