<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
 
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-V1LBCV9F1C"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-V1LBCV9F1C');
  </script>

  <style>
  * {
    box-sizing: border-box;
  }

	<title>Betteread</title>	

	<style type="text/css">    

  table, th, td {
  border: 2px solid black;
  border-collapse: collapse;
  }
  table.center {
    margin-left: auto; 
    margin-right: auto;
    font-size: 2vw;
  }  

  body
  {
    text-align: center;
    font-family: sans-serif;
    font-size: 10vw;
  }


  /* Style the footer */
  .footer {
    background-color: #f1f1f1;
    padding:2vw;
    text-align: right;
    font-size: 4vw;
  }

  h1
  {
    font-size:10vw;
    color:rgb(20, 3, 104);
  }

  h2
  {
    font-size:8vw;
    font-style: italic;
    color:rgb(31, 4, 161);
  }

  </style>
  
  <script sync src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  
</head>  
  
<body>
  <div class="topnav">
    <a href="/"><img src="static/home.png" alt="Home" style="width:4vw;height:auto;"></a>
    <a href="/liveathousandlives">Live 1K Lives<img src="static/books.png" style="width:3vw;height:auto;"></a>
    <a href="/quoteoftheday">Quote</a>
    <a href="/genwordoftheday">Word</a>
    <a href="/photo">Photo</a>
    <a href="/apps">App</a>
    <a href="/about" style="float:right">About</a>
  </div>

  <div id="main-div" class="content">
    <b id="twitter-bookchat-title">Reading Polls on Twitter</b><br>
    <i style="font-size: 3vw;"><a href="#" onclick="loadPoll()">Reading Polls</a>&nbsp;&nbsp;<a href="#" onclick="loadBookRecom()">Book Recommendations</a>&nbsp;&nbsp;<a href="#" onclick="loadBookReview()">Book Reviews</a>&nbsp;&nbsp;<a href="#" onclick="loadAll()">All</a></i>
  </div>
  <div id="main-div-twitter-books" class="content">
  </div>

  <script>
    var items = {{items | tojson}}
    var count = {{count | tojson}}
    var ulElementMain = document.getElementById("main-div-twitter-books");
    var tweet_widget_options = {
          align: 'center',
          theme: 'light',
          conversation: 'none'};
    initBooks("Poll");
    
    function initBooks(type)
    {
      //remove all children
      while(ulElementMain.firstChild) {
        ulElementMain.lastChild.remove()
      }

      for (let i = 0; i < count; i++) { 
        if( items[i]["Type"] == type || type == "All") {
        console.log("Tweet #%d, TweetID=%s, to be created.", i, items[i]["TweetID"])
        twttr.widgets.createTweet(
          items[i]["TweetID"],
          ulElementMain,
          tweet_widget_options
        )
        .then(function (el) {
          //TODO: the below is working but need to fix the font size for date texts
          //let parentDiv = el.parentNode
          //const date_node = document.createElement("span");
          //date_node.innerText = items[i]["Date"];
          //parentDiv.insertBefore(date_node, el)
        });
        }
      }
    }
  </script>
  <script>
    function loadPoll() {
      document.getElementById("twitter-bookchat-title").innerHTML = "Reading Polls on Twitter";
      initBooks("Poll");
    }
    function loadBookRecom() {
      document.getElementById("twitter-bookchat-title").innerHTML = "Book Recommendations on Twitter";
      initBooks("Book Recommendation");
    }
    function loadBookChat() {
      document.getElementById("twitter-bookchat-title").innerHTML = "Book Chats on Twitter";
      initBooks("Book Chat");
    }
    function loadBookReview() {
      document.getElementById("twitter-bookchat-title").innerHTML = "Book Reviews on Twitter";
      initBooks("Book Review");
    }
    function loadAll() {
      document.getElementById("twitter-bookchat-title").innerHTML = "Bettereads Twitter Archive";
      initBooks("All");
    }
  </script>

<div class="botnav">
  <a href="/about"><img src="static/information.png" alt="About" style="width:4vw;height:auto;"></a>
  <a href="/#sub"><img src="static/subscribe.png" alt="Subscribe" style="width:4vw;height:auto;"></a>
  <a href="mailto:whereliteraturemeetscomputing@gmail.com"><img src="static/email.png" alt="Email" style="width:4vw;height:auto;"></a>
  <a href="https://twitter.com/tothemax2050"><img src="static/twitter.png" alt="Twitter" style="width:4vw;height:auto;"></a>
  <a href="https://www.facebook.com/wordsmartword"><img src="static/facebook.png" alt="Facebook" style="width:4vw;height:auto;"></a>
  <a href="https://www.instagram.com/tothemax2050"><img src="static/instagram.png" alt="Instagram" style="width:4vw;height:auto;"></a>
  <a href="https://www.goodreads.com/user/show/65134593-max"><img src="static/goodreads.png" alt="Goodreads" style="width:4vw;height:auto;"></a>
  <a href="/" style="float:left"><img src="static/WLMC.png" alt="WLMC" style="width:auto;height:4vw;border-radius:10px"></a>
</div>

</body>
</html>
