<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
 
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-V1LBCV9F1C"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-V1LBCV9F1C');
  </script>

  <style>
  * {
    box-sizing: border-box;
  }

	<title>Where Literature Meets Computing Book Page</title>	

	<style type="text/css">    

  table, th, td {
  border: 2px solid black;
  border-collapse: collapse;
  }
  table.center {
    margin-left: auto; 
    margin-right: auto;
    font-size: 2vw;
  }  

  body
  {
    text-align: center;
    font-family: sans-serif;
    font-size: 10vw;
  }


  /* Style the footer */
  .footer {
    background-color: #f1f1f1;
    padding:2vw;
    text-align: right;
    font-size: 4vw;
  }

  h1
  {
    font-size:10vw;
    color:rgb(20, 3, 104);
  }

  h2
  {
    font-size:8vw;
    font-style: italic;
    color:rgb(31, 4, 161);
  }

  </style>
  
  <script sync src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  
</head>  
  
<body>
  <div class="topnav">
    <a href="/"><img src="static/home.png" alt="Home" style="width:4vw;height:auto;"></a>
    <a href="/liveathousandlives">Live 1K Lives<img src="static/books.png" style="width:3vw;height:auto;"></a>
    <a href="/quoteoftheday">Quote</a>
    <a href="/genwordoftheday">Word</a>
    <a href="/photo">Photo</a>
    <a href="/apps">App</a>
    <a href="/about" style="float:right">About</a>
  </div>

  <div id="main-div" class="content">
    <p><b id="twitter-books-title">Books I Recommended on Twitter</b><br>
      <i style="font-size: 3vw;"><a href="#" onclick="loadAllBooks()">All Books</a>&nbsp;&nbsp;<a href="#" onclick="loadTop10NonfictionBooks()">Nonfictions Only</a></i></p>
    <img id="load-prev-button-top" onclick="loadPrevBooks()" src="static/back-button.png" style="width:4vw;height:auto;"></a>
    <i id="page-indicator-top" style="font-size:2vw;">1/5</i>
    <img id="load-next-button-top" onclick="loadNextBooks()" src="static/next-button.png" style="width:4vw;height:auto;"></a>
  </div>
  <div id="main-div-twitter-books" class="content">
  </div>
  <div class="content">
    <img id="load-prev-button" onclick="loadPrevBooks()" src="static/back-button.png" style="width:4vw;height:auto;"></a>
    <i id="page-indicator-bot" style="font-size:2vw;">1/5</i>
    <img id="load-next-button" onclick="loadNextBooks()" src="static/next-button.png" style="width:4vw;height:auto;"></a>
  </div>
  <div class="content3">
    <center>
    <b>Top 10 Books by Twitter Likes</b><br>
    <div id="chart-container" style="width:100%">
      <canvas id="Chart-Books-Ranked"></canvas>
    </div>
    <br>
    <b>Top 11-20 Books by Twitter Likes</b><br>
    <div id="chart-container" style="width:100%">
      <canvas id="Chart-Books-Ranked_2"></canvas>
    </div>
    <br>
    <b>Top 10 Nonfunctions by Twitter Likes</b><br>
    <div id="chart-container" style="width:100%">
      <canvas id="Chart-Books-Ranked-NF"></canvas>
    </div>
    </center>
  </div>

  <script>
    var items = {{items | tojson}}
    var items_sorted = {{items_sorted | tojson}}
    var count = {{count | tojson}}
    var bookreview = {{bookreview | tojson}}
    var twitter_books = {{booklist | tojson}}
    var twitter_books_nonfiction = {{booklist_nonfiction | tojson}}
    var ulElementMain = document.getElementById("main-div-twitter-books");
    var tweet_widget_options = {
          align: 'center',
          theme: 'light',
          conversation: 'none'};
    var mybooklist = twitter_books;
    //Global vars to display myreview box in reviewbook without tweet widget
    var book_widget_width = 550;
    var book_widget_height = 833;
    initBooks();
    
    function find_item_entry_by_id(id)
    {
        for(i = 0; i < items.length; i++ ) {
          if( items[i]["ID"] == id )
            return items[i]
        }
        return null
    }
    function initBooks()
    {
      //remove all children
      while(ulElementMain.firstChild) {
        ulElementMain.lastChild.remove()
      }

      photo_index = 0;
      photo_count = mybooklist.length;
      photo_count_per_page =5;
      console.log("Tweet to be created.")
      for (let i = 0; i < photo_count_per_page; i++) {
        let id = mybooklist[i]
        let item_entry = find_item_entry_by_id(id)
        if( item_entry == null )
          return null        
        twttr.widgets.createTweet(
          item_entry["TweetID"],
          ulElementMain,
          tweet_widget_options
        )
        .then(function (el) {
            loadMyReviewDiv(el, id);
            //console.log("tweet widget returned, loadMyReviewDiv done, i=%d", i)
            //redirect to #book-review after the last tweet widget returns
            if( i == photo_count_per_page-1 )
              if(bookreview == true) {
                console.log("redirect to #book-review, i=%d", i)
                //redirect to the fragement identifier
                //change location.hash will not force a reload of the current page
                //change location.href will reload the page
                window.location.hash = "book-review"
              }
        });
      }

      let page_begin = photo_index/photo_count_per_page+1;
      page_end = Math.floor(photo_count/photo_count_per_page)+1;
      if( photo_count % photo_count_per_page == 0)
        page_end--;

      let page_indicator_str = "Page " + page_begin.toString() + " of " + page_end.toString();
      document.getElementById("page-indicator-top").innerHTML = page_indicator_str;
      document.getElementById("page-indicator-bot").innerHTML = page_indicator_str;

      photo_index += photo_count_per_page;
      document.getElementById("load-prev-button").style.visibility = 'hidden';
      document.getElementById("load-prev-button-top").style.visibility = 'hidden';
    }
  </script>
  <script>
    function loadMyReviewDiv(widget_element, id)
    {
      let item_entry = find_item_entry_by_id(id)
      if( item_entry == null )
        return;
      let review_lookup = item_entry["Review"];
      if( review_lookup == null ) //No not insert MyReview box if no review text
        return;
      let rating = item_entry["My Rating"];
      if( widget_element ) {
        //update the global vars
        book_widget_width = widget_element.offsetWidth;
        book_widget_height = widget_element.offsetHeight;
      }
      console.log("widget width=%d height=%d", book_widget_width, book_widget_height);
      let div = document.createElement("div");
      div.className = "content"
      div.style.width = book_widget_width+"px";
      div.style.height = Math.floor(book_widget_height/3) + "px";
      div.style.background = "#fff";
      div.style.color = "black";
      div.style.textAlign = "center";
      div.style.marginLeft = 'auto';
      div.style.marginRight = 'auto';
      div.style.border = "8px inset #683205";
      div.style.borderRadius = "5px";
      div.style.boxShadow = "0px 0px 4px 1px";
      div.style.padding = "0px 2px 0px 8px"; //top,right,bottom,left
      div.style.overflow = "auto";
      div.align = "center";
      my_review = `<b style="font-size:14px">Max\'s Review</b><br>${rating}<br>${review_lookup}`;
      let image_lookup = item_entry["Cover Image"];
      console.log("i: %s, image lookup file name: %s\nreview: %d", i, image_lookup, review_lookup);
      let book_image = `static/books/${image_lookup}`;
      let image_height = Math.floor((book_widget_height/3)*(2/3)) + "px";
      let image_style = `width:auto;height:${image_height};float:right`;
      div.innerHTML = '<p style="line-height:1.1;font-size:12px;text-align:left;margin-top:3px;margin-bottom:0px;">' + `<img src=${book_image} alt="" style=${image_style}></a>` + my_review + '</p>';
      if( widget_element )
        widget_element.after(div);
      else {
        ulElementBookReview.appendChild(div);
      }
      //let br_element = document.createElement("br");
      //div.after(br_element);
    }
    function positionBackNextButtons()
    {
      document.getElementById("load-prev-button").style.visibility = 'visible';
      document.getElementById("load-next-button").style.visibility = 'visible';
      document.getElementById("load-prev-button-top").style.visibility = 'visible';
      document.getElementById("load-next-button-top").style.visibility = 'visible';

      let page_begin = photo_index/photo_count_per_page;
      let page_indicator_str = "Page " + page_begin.toString() + " of " + page_end.toString();
      document.getElementById("page-indicator-top").innerHTML = page_indicator_str;
      document.getElementById("page-indicator-bot").innerHTML = page_indicator_str;

      if(photo_index <= photo_count_per_page)
      {
        document.getElementById("load-prev-button").style.visibility = 'hidden';
        document.getElementById("load-prev-button-top").style.visibility = 'hidden';
      }

      if(photo_index >= photo_count)
      {
        document.getElementById("load-next-button").style.visibility = 'hidden';
        document.getElementById("load-next-button-top").style.visibility = 'hidden';
      }
      scroll(0,0)
    }

    function loadNextBooks() {
      //remove all children
      while(ulElementMain.firstChild) {
        ulElementMain.lastChild.remove()
      }   
      var base = photo_index;
      for (let i = 0; i < photo_count_per_page && (i+photo_index<photo_count); i++) {
        let id = mybooklist[base+i]
        let item_entry = find_item_entry_by_id(id)
        if( item_entry == null )
          return null
        twttr.widgets.createTweet(
          item_entry["TweetID"],
          ulElementMain,
          tweet_widget_options
        )
        .then(function (el) {
          console.log("Tweet displayed.");
          loadMyReviewDiv(el, id);
        });
      }
      photo_index += photo_count_per_page;
      positionBackNextButtons();
    }

    function loadPrevBooks() {
      //remove all children
      while(ulElementMain.firstChild) {
        ulElementMain.lastChild.remove()
      }
      var base = photo_index;
      for (let i = 0; i < photo_count_per_page && (base-2*photo_count_per_page)>=0; i++) {
        let id = mybooklist[base-2*photo_count_per_page+i]
        let item_entry = find_item_entry_by_id(id)
        if( item_entry == null )
          return null
        twttr.widgets.createTweet(
          item_entry["TweetID"],
          ulElementMain,
          tweet_widget_options
        )
        .then(function (el) {
          console.log("Tweet displayed.");
          loadMyReviewDiv(el, id);
        });
      }
      photo_index -= photo_count_per_page;
      positionBackNextButtons();
  }

  function loadAllBooks() {
    document.getElementById("twitter-books-title").innerHTML = "Books I Recommended on Twitter";
    mybooklist = twitter_books;
    initBooks(twitter_books);
  }
  function loadTop10NonfictionBooks() {
    document.getElementById("twitter-books-title").innerHTML = "Nonfictions I Recommended on Twitter";
    mybooklist = twitter_books_nonfiction;
    initBooks();
  }
  </script>

  <div class="content2">
  <p><b>My Activities on Goodreads</b></p>
  <style>
    #gr_updates_widget{
    float:center;
    border-radius: 5px;
    background-color:#fff;
    border:solid #683205 10px;
    -webkit-box-shadow: 0px 0px 4px 1px #595959,
    inset 0px 0px 0px 1px #7D730B;
    -moz-box-shadow: 0px 0px 4px 1px #595959,
    inset 0px 0px 0px 1px #7D730B;
    box-shadow: 0px 0px 4px 1px #595959,
    inset 0px 0px 0px 1px #7D730B;
    padding:15px 0 0px 15px;
    width:250px;
    height:365px;
    }
  </style>
  <center>
    <div id="gr_updates_widget">
      <iframe id="the_iframe" src="https://goodreads.com/widgets/user_update_widget?height=400&num_updates=5&user=65134593&width=250" width="215" height="330" frameborder="0"></iframe>
      <br>
    </div>
  </center>
  </div>
  
  <div class="content">
  <p><b>My Fun Book Statistics</b></p>
  <i>Shortest book page count:&nbsp;&nbsp;&nbsp;&nbsp;</i><b style="color:green">{{bookstats["min page count"]}}</b>
  <a href=static/books/{{bookstats["shortest book image"]}}><img src=static/books/{{bookstats["shortest book image"]}} alt="" style="width:auto;height:4vw;"></a><br>
  <i>Average book page count:&nbsp;&nbsp;</i><b style="color:green">{{bookstats["average page count"]}}</b><br>
  <i>Longest book page count:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</i><b id="html-max-page-count" style="color:green">1234</b>
  <a href=static/books/{{bookstats["longest book image"]}}><img src=static/books/{{bookstats["longest book image"]}} alt="" style="width:auto;height:4vw;"></a><br>
  <i>Total book page count read:&nbsp;</i><b id="html-total-page-count" style="color:green">123456</b><br>
  <i>Total word count estimated:&nbsp;&nbsp;</i><b id="html-total-word-count" style="color:green">123456789</b>
  <center>
    <p>
    <b>Book Formats</b>
    <div id="chart-container" style="width:50%;max-width:500px;">
      <canvas id="Chart-BookType"></canvas>
    </div>
    <i style="background: yellow;font-size: 3vw;">Audio Book {{bookstats["audio book count"]}}</i>
    <i style="background: aqua;font-size: 3vw;">EBook {{bookstats["ebook count"]}}</i>
    <i style="background: fuchsia;font-size: 3vw;">Book {{bookstats["physical book count"]}}</i>
    </p>
    <p>
    <b>Book Genres</b>
    <div id="chart-container" style="width:50%;max-width:500px;">
      <canvas id="Chart-Genres"></canvas>
    </div>
    <i style="background: yellow;font-size: 3vw;">Fiction {{bookstats["fiction count"]}}</i>
    <i style="background: green;font-size: 3vw;">Nonfiction {{bookstats["nonfiction count"]}}</i>
    </p>
    <p>
      <br>
      <b>Books Read In Years</b><br>
      <div id="chart-container" style="width:80%">
        <canvas id="Chart-Books-Read"></canvas>
      </div>  
      <i>Have read </i><b style="color:green">{{bookstats["books read in 2022"]}}</b><i> books so far in 2022!</i><br>
    </p>
    <p>
      <br>
      <b>Read Books Published In Centuries</b><br>
      <div id="chart-container" style="width:80%">
        <canvas id="Chart-Books-Published"></canvas>
      </div>
      <i>Oldest book was published in </i><b style="color:green">{{bookstats["oldest book in year"]}}</b>
      <a href=static/books/{{bookstats["oldest book image"]}}><img src=static/books/{{bookstats["oldest book image"]}} alt="" style="width:auto;height:8vw;"></a><br>
    </p>
    <p>
      <br>
      <b>Books Ratings</b><br>
      <div id="chart-container" style="width:80%">
        <canvas id="Chart-Books-Ratings"></canvas>
      </div>
      <i style="background: green;font-size: 3vw;">⭐⭐⭐⭐⭐</i>
      <i style="background: olive;font-size: 3vw;">⭐⭐⭐⭐</i>
      <i style="background: purple;font-size: 3vw;">⭐⭐⭐</i>
      </p>
  </center>
  </div>

  <script>
    var book_stats = {{bookstats | tojson}}

    let n = book_stats["max page count"];
    let str = n.toLocaleString("en-US");
    //console.log(str)
    document.getElementById("html-max-page-count").innerHTML = str;

    n = book_stats["total page count"];
    str = n.toLocaleString("en-US");
    document.getElementById("html-total-page-count").innerHTML = str;

    n = book_stats["total word count"];
    str = n.toLocaleString("en-US");
    document.getElementById("html-total-word-count").innerHTML = str;
  </script>  

  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.js"></script>
  
  <script>
  const data = {
    labels: [
      'Book',
      'EBook',
      'Audio Book'
    ],
    datasets: [{
      data: [ book_stats["physical book count"], book_stats["ebook count"], book_stats["audio book count"]],
      backgroundColor: [
        'fuchsia',
        'aqua',
        'yellow'
      ],
      hoverOffset: 4
    }]
  };
  const config = {
    type: 'pie',
    data: data,
    options: {
      responsive: true,
      plugins: {
        legend: {
          position: 'left',
          display: false
        }
      }
    }
  };
  const data2 = {
    labels: [
      'Nonfiction',
      'Fiction'
    ],
    datasets: [{
      data: [book_stats["nonfiction count"], book_stats["fiction count"]],
      backgroundColor: [
        'green',
        'yellow'
      ],
      hoverOffset: 4
    }]
  };
  const config2 = {
    type: 'pie',
    data: data2,
    options: {
      responsive: true,
      plugins: {
        legend: {
          position: 'left',
          display: false
        }
      }
    }
  };

  Chart.defaults.font.size = 16;
  var myChart = new Chart( document.getElementById('Chart-BookType'), config);
  var myChart2 = new Chart( document.getElementById('Chart-Genres'), config2);

  const data4 = {
    labels: ['~2018', '2019', '2020', '2021', '2022'],
    datasets: [{
      data: [book_stats["books read in 2018 and prior"], book_stats["books read in 2019"], book_stats["books read in 2020"], book_stats["books read in 2021"], book_stats["books read in 2022"]],
      fill: false,
      pointBackgroundColor: 'red',
      pointRadius: 8,
      borderColor: 'rgb(75, 192, 192)',
      borderWidth: 6,
      tension: 0.1
    }]
  };
  const config4 = {
    type: 'line',
    data: data4,
    options: {
      responsive: true,
      plugins: {
        legend: {
          display: false
        }
      },
      scales: {
        y: {
          beginAtZero: true
        }
      }
    },
  };
  const data5 = {
    labels: ['~1800s', '1900s', '2000s'],
    datasets: [{
      data: [book_stats["books published in 1800s and prior"], book_stats["books published in 1900s"], book_stats["books published in 2000s"]],
      backgroundColor: [
        'maroon',
        'maroon',
        'maroon'
      ]
    }]
  };
  const config5 = {
    type: 'bar',
    data: data5,
    options: {
      responsive: true,
      plugins: {
        legend: {
          display: false
        }
      },
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  };
  const data6 = {
    labels: ['⭐⭐⭐⭐⭐', '⭐⭐⭐⭐', '⭐⭐⭐'],
    datasets: [{
      data: [book_stats["books rated 5"], book_stats["books rated 4"], book_stats["books rated 3"]],
      backgroundColor: [
        'green',
        'olive',
        'purple'
      ]
    }]
  };
  const config6 = {
    type: 'bar',
    data: data6,
    options: {
      responsive: true,
      indexAxis: 'y',
      plugins: {
        legend: {
          display: false
        }
      },
      scales: {
        y: {
          beginAtZero: true
        }
      }
    },
  };

  var top10_titles = [];
  var top10_likes = [];
  for (let i = 0; i < 10; i++) {
    let item_entry = find_item_entry_by_id(mybooklist[i])
    top10_titles[i] = item_entry["Book Title"];
    top10_likes[i] = item_entry["Likes"];
  }
  var top11to20_titles = [];
  var top11to20_likes = [];
  for (let i = 0; i < 10; i++) {
    let item_entry = find_item_entry_by_id(mybooklist[10+i])
    //console.log("i=%d,title=%s, like=%d",i,item_entry["Book Title"],item_entry["Likes"])
    top11to20_titles[i] = item_entry["Book Title"];
    top11to20_likes[i] = item_entry["Likes"];
  }
  //can't share one color_array for two charts, js uses shallow copy for lists
  var color_array = ['red','blue','yellow','green','pink','cyan','orange','lime','grape','teal'];
  var color_array2 = ['red','blue','yellow','green','pink','cyan','orange','lime','grape','teal'];
  let random_i = Math.floor(Math.random()*3);
  if(random_i==1)
    color_array.sort();
  if(random_i==2)
    color_array.reverse();
  random_i = Math.floor(Math.random()*3);
  if(random_i==1)
    color_array2.sort();
  if(random_i==2)
    color_array2.reverse();
  const data7 = {
    labels: top10_titles,
    datasets: [{
      data: top10_likes,
      backgroundColor: color_array
    }]
  };
  const data7_2 = {
    labels: top11to20_titles,
    datasets: [{
      data: top11to20_likes,
      backgroundColor: color_array2
    }]
  };
  var config7 = {
    type: 'bar',
    data: data7,
    options: {
      indexAxis: 'y',
      responsive: true,
      plugins: {
        legend: {
          display: false
        }
      },
      scales: {
        y: {
          beginAtZero: true
        },
        x: {
          ticks: {
            font: {
              size: 10,
            },
            autoSkip: false,
            maxRotation: 90,
            minRotation: 0
          }
        }
      }
    },
  };
  var config7_2 = {
    type: 'bar',
    data: data7_2,
    options: {
      indexAxis: 'y',
      responsive: true,
      plugins: {
        legend: {
          display: false
        }
      },
      scales: {
        y: {
          beginAtZero: true
        },
        x: {
          ticks: {
            font: {
              size: 10,
            },
            autoSkip: false,
            maxRotation: 90,
            minRotation: 0
          }
        }
      }
    },
  };

  var top10_titles_nf = [];
  var top10_likes_nf = [];
  for (let i = 0; i < 10; i++) {
    let id = twitter_books_nonfiction[i]
    let item_entry = find_item_entry_by_id(id)
    top10_titles_nf[i] = item_entry["Book Title"];
    top10_likes_nf[i] = item_entry["Likes"];
  }
  const data8 = {
    labels: top10_titles_nf,
    datasets: [{
      data: top10_likes_nf,
      backgroundColor: color_array
    }]
  };
  var config8 = {
    type: 'bar',
    data: data8,
    options: {
      indexAxis: 'y',
      responsive: true,
      plugins: {
        legend: {
          display: false
        }
      },
      scales: {
        y: {
          beginAtZero: true
        },
        x: {
          ticks: {
            font: {
              size: 10,
            },
            autoSkip: false,
            maxRotation: 90,
            minRotation: 0
          }
        }
      }
    },
  };
  
  if (window.matchMedia("(orientation: portrait)").matches) {
    // PORTRAIT mode
    config7.options.indexAxis = "x"
    config7_2.options.indexAxis = "x"
    config8.options.indexAxis = "x"
  }
  //if (window.matchMedia("(orientation: landscape)").matches)
  // LANDSCAPE mode
  
  var myBarChart = new Chart(document.getElementById('Chart-Books-Read'), config4);
  var myBarChart = new Chart(document.getElementById('Chart-Books-Published'), config5);
  var myBarChart = new Chart(document.getElementById('Chart-Books-Ratings'), config6);
  var myBarChart = new Chart(document.getElementById('Chart-Books-Ranked'), config7);
  var myBarChart = new Chart(document.getElementById('Chart-Books-Ranked_2'), config7_2);
  var myBarChart = new Chart(document.getElementById('Chart-Books-Ranked-NF'), config8);
  </script>

<div class="content2">
  <p><b>My Favorite GIF</b></p>
  <img src="static/reading.gif" alt="Reading Gif" style="width:30%;height:auto;">
</div>

<div id="book-review" class="content">
  <p><b>My Book Review</b>
  <br><span style="font-size: 3vw;"><i>Click Review Icon <img src="static/book-review.png" alt="Review" style="width:auto;height:3vw;"> from the book table below</i></span>
  </p>
</div>

<div class="content2">
  <p><b>Books I have read - {{ count }} Books</b></p>
  <table id="booktable" class="center" border=1>
  </table>
</div>

<script>
  //tojson is a Jinja filter that dumps the structure to a JSON string and marks it safe 
  //so that Jinja does not autoescape it
  var columns = {{columns | tojson}}
  columns.push("Review");
</script>

<script>
  function reviewBook(id)
  {
    //load twitter teaser
    console.log("Book review book id=%s", id);
    //variable ulElementBookReview is global scope
    ulElementBookReview = document.getElementById("book-review");
    while( ulElementBookReview.childElementCount > 1 )
      ulElementBookReview.lastChild.remove();
    let item_entry = find_item_entry_by_id(id)
    let tweet_id = item_entry["TweetID"];
    if( tweet_id ) {
      console.log("Book review tweet_id=%s", tweet_id);
      twttr.widgets.createTweet(
        tweet_id,
        ulElementBookReview,
        tweet_widget_options
      ).then( function (el){
          //console.log("Book Review Tweet displayed. element className=%s, tagName=%s", el.className, el.tagName);
          //and load my review
          loadMyReviewDiv(el, id);
        }
      );
    }
    else {
      //load my review only
      loadMyReviewDiv(null, id);
    }
  }
</script>

<script>
  var table = document.getElementById("booktable");
  // Create an empty <thead> element and add it to the table:
  var header = table.createTHead();
  // Create an empty <tr> element and add it to the first position of <thead>:
  var headrow = header.insertRow(0);
  for(let i = 0; i < columns.length; i++){ 
  // Insert a new cell (<td>) at the first position of the "new" <tr> element:
    let cell = headrow.insertCell(i);
    // Add some bold text in the new cell:
    cell.innerHTML = "<b>" + columns[i] + "</b>"; 
  }
  var body = table.createTBody();
  //items_sorted, sorted by alphabetic order
  for(let i = 0; i < items_sorted.length; i++){ 
    // Create an empty <tr> element and add it to the 1st position of the table:
    let bodyrow = body.insertRow(i);
    for(let j = 0; j < columns.length; j++){ 
      // Insert new cells (<td> elements) at the 1st and 2nd position of the "new" <tr> element:
      let cell = bodyrow.insertCell(j);
      // Add some text to the new cells:
      column = columns[j];
      cell.innerHTML = items_sorted[i][column];
      if( j== 0 ) { //image file 
        let image_file_name = items_sorted[i][column];
        //use backtics ` ` for formating a string (like %s in C)
        let book_url = `static/books/${image_file_name}`;
        cell.innerHTML = `<a href=${book_url}><img src=${book_url} alt="" style="width:auto;height:5vw;"></a>`;
        //console.log(cell.innerHTML);
      }
      if( j == (columns.length-1) ) { //last column 
        let title = items_sorted[i]["Book Title"];
        let id = items_sorted[i]["ID"];
        if( items_sorted[i]["Review"] || items_sorted[i]["TweetID"] )
          cell.innerHTML = `<a href="#book-review" onclick="reviewBook('${id}')"><img src="static/book-review.png" alt="Review" style="width:auto;height:5vw;"></a>`
        else
          cell.innerHTML = "";
      }
    }
  }
  </script>

  <script>
    let id = {{bookid}}
    console.log("bookid=%s", id);
    reviewBook(id);
    console.log("end of page script")
  </script>

<div class="botnav">
  <a href="/about"><img src="static/information.png" alt="About" style="width:4vw;height:auto;"></a>
  <a href="/#sub"><img src="static/subscribe.png" alt="Subscribe" style="width:4vw;height:auto;"></a>
  <a href="mailto:whereliteraturemeetscomputing@gmail.com"><img src="static/email.png" alt="Email" style="width:4vw;height:auto;"></a>
  <a href="https://twitter.com/tothemax2050"><img src="static/twitter.png" alt="Twitter" style="width:4vw;height:auto;"></a>
  <a href="https://www.facebook.com/wordsmartword"><img src="static/facebook.png" alt="Facebook" style="width:4vw;height:auto;"></a>
  <a href="https://www.instagram.com/tothemax2050"><img src="static/instagram.png" alt="Instagram" style="width:4vw;height:auto;"></a>
  <a href="https://www.goodreads.com/user/show/65134593-max"><img src="static/goodreads.png" alt="Goodreads" style="width:4vw;height:auto;"></a>
  <a href="/" style="float:left"><img src="static/WLMC.png" alt="WLMC" style="width:auto;height:4vw;border-radius:10px"></a>
</div>

</body>
</html>
