<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
 
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-V1LBCV9F1C"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-V1LBCV9F1C');
  </script>

  <style>
  body
  {
    text-align: center;
    font-family: sans-serif;
    font-size: 10vw;
  }
  </style>

</head>  
  
<body>

  <div class="content">
    <p>Global Copy & Paste, id={{ id }}</p>  
    <form action="{{actionstr}}" method="post" enctype="multipart/form-data">
        <textarea class="inputtextarea" rows = "15" name = "CopyText">{{ text }}</textarea><br>
        <input type="submit" value="Copy">        
    </form>   
  </div>  

</body>
</html>
