<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
 
  <style>

	<style type="text/css">    

  body
  {
    text-align: center;
    font-family: sans-serif;
    font-size: 10vw;
  }
  
  </style>
</head>  
  
<body>  
  <div class="topnav">
    <a href="/">Home</a>
    <a href="/liveathousandlives">Live A Thousand Lives / Books</a>
    <a href="/pictureoftheday">Photo of The Day</a>
    <a href="/quoteoftheday">Quote of The Day</a>
    <a href="/wordoftheday">Word of The Day</a>
    <a href="/whatloveis">What Love Is?</a>
    <a href="/about">About</a>
  </div>


  <div id="main-div" class="content2">
  <p style="color: blue;">
    {% if text %}
      {{ text }}
    {% endif %}
  </p>
  </div>

  <div class="botnav">
    <a href="/">Home</a>
    <a href="https://twitter.com/tothemax2050">Twitter</a>
    <a href="https://www.facebook.com/wordsmartword">Facebook</a>
    <a href="https://www.instagram.com/tothemax2050">Instgram</a>
    <a href="/about">About</a>
  </div>
</body>
</html>