<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
 
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-V1LBCV9F1C"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-V1LBCV9F1C');
  </script>

  <style>
  * {
    box-sizing: border-box;
  }

	<title>Where Literature Meets Computing Quote Page</title>	

	<style type="text/css">    

  table, th, td {
  border: 2px solid black;
  border-collapse: collapse;
  }
  table.center {
    margin-left: auto; 
    margin-right: auto;
    font-size: 2vw;
  }
  th {
    border: 1px solid black;
  }
 
  body
  {
    text-align: center;
    font-family: sans-serif;
    font-size: 10vw;
  }


  /* Style the footer */
  .footer {
    background-color: #f1f1f1;
    padding:2vw;
    text-align: right;
    font-size: 4vw;
  }

  h1
  {
    font-size:10vw;
    color:rgb(20, 3, 104);
  }

  h2
  {
    font-size:8vw;
    font-style: italic;
    color:rgb(31, 4, 161);
  }

  </style>

  <script src="{{ url_for('static', filename='utils.js') }}"></script>

</head>  
  
<body>
  <div class="topnav">
    <a href="/"><img src="static/home.png" alt="Home" style="width:4vw;height:auto;"></a>
    <a href="/liveathousandlives">Live 1K Lives<img src="static/books.png" style="width:3vw;height:auto;"></a>
    <a href="/quoteoftheday">Quote</a>
    <a href="/genwordoftheday">Word</a>
    <a href="/photo">Photo</a>
    <a href="/apps">App</a>
    <a href="/about" style="float:right">About</a>
  </div>

  <div class="content2">
    <p><b>Quote of The Day</b></p>
    <p style="color: blue;">
      <i id="quote-text">
      {% if quote %}
        {{ quote }}
      {% endif %}
      </i><br>
      <button onclick="newquote('quote-text')">New Quote</button>
      <button onclick="copy('quote-text')">copy</button>
    </p>
  </div>

  <div class="content">
    <p><b>{{ count }} Quotes</b><br>
    <i id="quote-category" style="font-size:2vw;">Category1</i></p>
    <span id="category-name" style="font-size:3vw;"><b>CategoryName</b></span><br>
    <table id="quotetable" class="center" border=1>
    </table>
    <br>
  </div>

  <script>
    //tojson is a Jinja filter that dumps the structure to a JSON string and marks it safe 
    //so that Jinja does not autoescape it
    var columns = {{col_names | tojson}} 
    var items = {{items | tojson}}
    var col_width = {{ col_width | tojson }}
    var categories = {{ categories | tojson }}

    let category_html = "";
    for( cat of categories )
    {
      category_html += `<a href="#category-name" onclick="loadCategory('${cat}')">`;
      category_html += cat;
      category_html += "</a>";
      category_html += " ";
    }
    document.getElementById("quote-category").innerHTML = category_html;
    var table = document.getElementById("quotetable");
    // Create an empty <thead> element and add it to the table:
    var header = table.createTHead();
    // Create an empty <tr> element and add it to the first position of <thead>:
    var headrow = header.insertRow(0);
    for(let i = 0; i < columns.length; i++){ 
    // Insert a new cell (<td>) at the first position of the "new" <tr> element:
      let cell = headrow.insertCell(i);
      // Add some bold text in the new cell:
      let column = columns[i];
      cell.innerHTML = "<b>" + column + "</b>"; 
      cell.style.width = col_width[column];
    }
    var tablebody = table.createTBody();
    var total_entry_count = items.length;
  </script>
  <script>
    function emptyTableTbody()
    {
      //remove all rows in TBody      
      let rowCount = tablebody.rows.length;
      for (let i=rowCount-1; i>=0; i--) {
        tablebody.deleteRow(i);
      }
    }
    function loadCategory(cat) {
      emptyTableTbody();
      let i=0;
      for( let item of items ) {        
        if( cat == item["Category"] )
        {
          let bodyrow = tablebody.insertRow(i);
          for(let j = 0; j < columns.length; j++){ 
            let cell = bodyrow.insertCell(j);
            let column = columns[j];
            cell.innerHTML = item[column];
            cell.style.width = col_width[column];
          }
          i++;
        }
      }
      document.getElementById("category-name").innerHTML = "Quotes about " + "<b>" + cat + "</b>";
    }
  </script>
  <script>
    //load initial quotes
    loadCategory("Love");
  </script>

<div class="botnav">
  <a href="/about"><img src="static/information.png" alt="About" style="width:4vw;height:auto;"></a>
  <a href="/#sub"><img src="static/subscribe.png" alt="Subscribe" style="width:4vw;height:auto;"></a>
  <a href="mailto:whereliteraturemeetscomputing@gmail.com"><img src="static/email.png" alt="Email" style="width:4vw;height:auto;"></a>
  <a href="https://twitter.com/tothemax2050"><img src="static/twitter.png" alt="Twitter" style="width:4vw;height:auto;"></a>
  <a href="https://www.facebook.com/wordsmartword"><img src="static/facebook.png" alt="Facebook" style="width:4vw;height:auto;"></a>
  <a href="https://www.instagram.com/tothemax2050"><img src="static/instagram.png" alt="Instagram" style="width:4vw;height:auto;"></a>
  <a href="https://www.goodreads.com/user/show/65134593-max"><img src="static/goodreads.png" alt="Goodreads" style="width:4vw;height:auto;"></a>
  <a href="/" style="float:left"><img src="static/WLMC.png" alt="WLMC" style="width:auto;height:4vw;border-radius:10px"></a>
</div>
</body>
</html>
