<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
 
  <style>
  * {
    box-sizing: border-box;
  }

	<title>Quote List</title>	

	<style type="text/css">    

  table, th, td {
  border: 2px solid black;
  border-collapse: collapse;
  }
  table.center {
    margin-left: auto; 
    margin-right: auto;
    font-size: 2vw;
  }
  th {
    border: 1px solid black;
  }
 
  body
  {
    text-align: center;
    font-family: sans-serif;
    font-size: 10vw;
  }


  /* Style the footer */
  .footer {
    background-color: #f1f1f1;
    padding:2vw;
    text-align: right;
    font-size: 4vw;
  }

  h1
  {
    font-size:10vw;
    color:rgb(20, 3, 104);
  }

  h2
  {
    font-size:8vw;
    font-style: italic;
    color:rgb(31, 4, 161);
  }

  </style>

</head>  
  
<body>
  <div class="topnav">
    <a href="/"><img src="static/home.png" alt="Home" style="width:4vw;height:auto;"></a>
    <a href="/liveathousandlives">Live 1000 Lives<img src="static/books.png" style="width:3vw;height:auto;"></a>
    <a href="/quoteoftheday">Quote</a>
    <a href="/genwordoftheday">Word</a>
    <a href="/whatloveis">Love<img src="static/heart.png" style="width:3vw;height:auto;"></a>
    <a href="/about">About</a>
  </div>

  <div class="content2">
    <p><b>Quote of The Day</b></p>
    <p style="color: blue;"><i>
    {% if quote %}
      {{ quote }}
    {% endif %}
    </i></p>
  </div>

  <div class="content">
    <p><b>{{ count }} Quotes</b></p>
    <img id="load-prev-button-top" onclick="loadPrev()" src="static/back-button.png" style="width:4vw;height:auto;"></a>
    <img id="load-next-button-top" onclick="loadNext()" src="static/next-button.png" style="width:4vw;height:auto;"></a>
    <table id="quotetable" class="center" border=1>
    </table>
    <br>
    <img id="load-prev-button" onclick="loadPrev()" src="static/back-button.png" style="width:4vw;height:auto;"></a>
    <img id="load-next-button" onclick="loadNext()" src="static/next-button.png" style="width:4vw;height:auto;"></a>
  </div>

  <script>
    //tojson is a Jinja filter that dumps the structure to a JSON string and marks it safe 
    //so that Jinja does not autoescape it
    var columns = {{col_names | tojson}} 
    var items = {{items | tojson}}
    var col_width = {{ col_width | tojson }}
    var table = document.getElementById("quotetable");
    // Create an empty <thead> element and add it to the table:
    var header = table.createTHead();
    // Create an empty <tr> element and add it to the first position of <thead>:
    var headrow = header.insertRow(0);
    for(let i = 0; i < columns.length; i++){ 
    // Insert a new cell (<td>) at the first position of the "new" <tr> element:
      let cell = headrow.insertCell(i);
      // Add some bold text in the new cell:
      let column = columns[i];
      cell.innerHTML = "<b>" + column + "</b>"; 
      cell.style.width = col_width[column];
    }
    var tablebody = table.createTBody();
    var total_entry_count = items.length;
    var page_base_index = 0;
    var page_entry_count_config = 20;
    for(let i = 0; i < page_entry_count_config; i++){ 
      // Create an empty <tr> element and add it to the ith position of the table:
      let bodyrow = tablebody.insertRow(i);
      for(let j = 0; j < columns.length; j++){ 
        // Insert new cells (<td> elements) at the 1st and 2nd position of the "new" <tr> element:
        let cell = bodyrow.insertCell(j);
        let column = columns[j];
        // Add some text to the new cells:
        cell.innerHTML = items[i][column];
        cell.style.width = col_width[column];
      }
    }
    page_base_index += page_entry_count_config;
    document.getElementById("load-prev-button").style.visibility = 'hidden';
    document.getElementById("load-prev-button-top").style.visibility = 'hidden';
  </script>
  <script>
    function emptyTableTbody()
    {
      //remove all rows in TBody      
      let rowCount = tablebody.rows.length;
      for (let i=rowCount-1; i>=0; i--) {
        tablebody.deleteRow(i);
      }
    }
    function positionBackNextButtons()
    {
      document.getElementById("load-prev-button").style.visibility = 'visible';
      document.getElementById("load-next-button").style.visibility = 'visible';
      document.getElementById("load-prev-button-top").style.visibility = 'visible';
      document.getElementById("load-next-button-top").style.visibility = 'visible';

      if(page_base_index <= page_entry_count_config)
      {
        document.getElementById("load-prev-button").style.visibility = 'hidden';
        document.getElementById("load-prev-button-top").style.visibility = 'hidden';
      }

      if(page_base_index > total_entry_count)
      {
        document.getElementById("load-next-button").style.visibility = 'hidden';
        document.getElementById("load-next-button-top").style.visibility = 'hidden';
      }
    }
    function loadNext() {
      emptyTableTbody();
      for(let i = 0; i < page_entry_count_config && (i+page_base_index<total_entry_count); i++){ 
        // Create an empty <tr> element and add it to the 1st position of the table:
        let bodyrow = tablebody.insertRow(i);
        for(let j = 0; j < columns.length; j++){ 
          // Insert new cells (<td> elements) at the 1st and 2nd position of the "new" <tr> element:
          let cell = bodyrow.insertCell(j);
          // Add some text to the new cells:
          let column = columns[j];
          cell.innerHTML = items[page_base_index+i][column];
          cell.style.width = col_width[column];
        }
      }
      page_base_index += page_entry_count_config;
      positionBackNextButtons();
    }

    function loadPrev() {
      emptyTableTbody();
      for (let i = 0; i < page_entry_count_config && (page_base_index-2*page_entry_count_config)>=0; i++) {
        let bodyrow = tablebody.insertRow(i);
        for(let j = 0; j < columns.length; j++){ 
          let cell = bodyrow.insertCell(j);
          let column = columns[j];
          cell.innerHTML = items[page_base_index-2*page_entry_count_config+i][column];
          cell.style.width = col_width[column];
        }
      }
      page_base_index -= page_entry_count_config;
      positionBackNextButtons();
    }
  </script>

<div class="botnav">
  <a href="/about"><img src="static/information.png" alt="About" style="width:4vw;height:auto;"></a>
  <a href="/#sub"><img src="static/subscribe.png" alt="Subscribe" style="width:4vw;height:auto;"></a>
  <a href="mailto:whereliteraturemeetscomputing@gmail.com"><img src="static/email.png" alt="Email" style="width:4vw;height:auto;"></a>
  <a href="https://twitter.com/tothemax2050"><img src="static/twitter.png" alt="Twitter" style="width:4vw;height:auto;"></a>
  <a href="https://www.facebook.com/wordsmartword"><img src="static/facebook.png" alt="Facebook" style="width:4vw;height:auto;"></a>
  <a href="https://www.instagram.com/tothemax2050"><img src="static/instagram.png" alt="Instagram" style="width:4vw;height:auto;"></a>
  <a href="https://www.goodreads.com/user/show/65134593-max"><img src="static/goodreads.png" alt="Goodreads" style="width:4vw;height:auto;"></a>
  <b style="color: white;font-family: Arial"><i>Where Literature Meets Computing!</i></b>
</div>
</body>
</html>
